<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
      <div class="container">
        <a class="navbar-brand" href="/">Example</a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/artists">Artists</a>
            </li> 
          </ul>
        </div>
        <a class="btn btn-success" href="#">Sign up</a>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <% case key %>
        <% when 'notice' %>
          <div class='alert alert-success'>
        <% when 'alert' %>
          <div class='alert alert-danger'>
        <% else %>
          <div class='alert alert-primary alert-<%= "#{key}" %>'>
        <% end %>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
